@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body{
    background: rgb(48,207,208);
    background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
    
    max-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    overflow-x: hidden;
}

.profile{
    height: 100%;
    min-height: 350px;
    background: url('./../images/me.jpg') no-repeat center top;
    background-size: cover;
}

.main-content{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    z-index: 10;
    min-width: 100vw;
}

.header{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.subtitle{
    font: normal bold 5vh Roboto Mono;
}

.body-card{
    background: rgba(0,0,0, 0.5);
    /* width: 50vw; */
    /* float: left; */
    color: white;
    min-height: 100vh;
}

.body-content{    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
li a{
    color: white;
    text-decoration: none;
}

li a:visited{
    color: white;
    text-decoration: none;
}

li a:hover{
    color:#bbb3d9;
    text-decoration: none;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    font-size: 2em;
    font-weight: 300;
}

.links li{
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    padding-inline-end: 1em;
}

.content-card{
    background: #f5f5f596;
    color: black;
    min-height: 50vh;
    /* max-height: 75vh; */
    padding-block: 1.5rem;
}

.content-card > div{
    padding-block: 1em;
}

/* carousel */
/* .carousel-inner > .carousel-item > img{
    margin:auto;
    width:75%
} */


#particles-js{
    /* fill the background */
    min-height: 100%;
    min-width: 1024px;

    /* proportionate scaling */
    width: 100%;
    height: auto;
    overflow: hidden;

    /* positioing  */
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: -1;
}